*{
    margin:0px;
    padding:0px;
}
body{
    background-color:rgb(55, 119, 249);
}
h1
{
    color:rgb(245, 246, 247);
   
    margin: 10px;
}
#game
{
    display:flex;
    flex-wrap: wrap;
    padding:10px;
    margin:5vmin;
    background-color:rgb(69, 129, 247);
    height:70vh;
    width:70vh;
    align-content: center;
    justify-content: center;
    border-radius:10%;
    border:2px solid white;
}
#gamebox
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:cursive;
}
.box
{
    height:20vmin;
    width:20vmin;
    margin:1vmin;
    background-color:rgb(69, 129, 247);
    color:white;
    font-family: cursive;
    font-size:10vmin;
    border-radius: 20%;
    border:2px solid white;
}
#reset
{
    height:5vmin;
    width: 50vmin;
    background-color: rgb(230, 238, 254);
    font-family: cursive;
    border:2px rgb(69, 129, 247);
}
#Winnermsg
{
    font-size:10vmin;
    color:white;
    font-family:cursive;
}
#NEW
{
    height:10vmin;
    width:20vmin;
 font-family:cursive;
}
.msg
{
    display:none;
}
.dismsg{
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index:2;
    border:2px solid white;
    background-color:rgb(69, 129, 247);;
}
